[submodule "abc"]
	path = abc
	#url = ssh://git@eptansuo.life:2233/home/git/abc-guide.git
	url = ssh://git@github.com:hkustgz-zhang-lab/eqguide-abc.git

# Don't use paths as names to avoid git archive problems
[submodule "cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
